<div class= "container">
<p>
  <h1>About Us</h1>
welcome to our Photo app. We are a group of friends trying to build a web applicaiton. <br \>
we are fairly new to ruby so please bear with us. <br \> <br \>
</div>
