
<div id="photographerspin" class="transitions-enabled">
  <% @photographers.each do |photographer| %>
  <div class="box">
    <div class="panel panel-default">
  <div class="panel-header">
      <strong><%= photographer.name %></strong><br />
  </div>
      <%= link_to image_tag(photographer.image.url(:medium)), photographer %>

    </div>
  </div>
  <% end %>
</div>
